@inherits LayoutComponentBase

<PageTitle>Linkr - Fast Redirects</PageTitle>

<div class="flex flex-col w-screen h-screen justify-center items-center">
    <Header />
    <main class="w-3/5 h-full p-body">
            @Body
    </main>
</div>